.avatar {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background-size: cover;
  background-position: center;
}

.book-cover {
  display: block;
  height: 114px;
  width: 64px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.book-home-page {
  align-self: center;
  display: block;
  height: 456px;
  width: 256px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
